footer {
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: blue;
    font-size: 2rem;
}